<%- include('../includes/head.ejs') %>


<body>
    <main class="container is-text-center">
        <h1 class="title has-text-warning mb-4">Blog</h1>
        <a href="/articles/new">Add new article</a>

        <% articles.forEach(article => { %>
        <article>
           <%= article.title %>
           <%= article.createdAt.toLocaleDateString() %>
           <%= article.content %>
           <a href="articles/<%= article.id%>">Read more</a>
        </article>
        <% }) %>

    </main>


<%- include('../includes/end.ejs') %>